udacity/landing-page/.vscode/launch.json
.vscode/launch.json
udacity/weather-journal-app/package-lock.json
udacity/weather-journal-app/node_modules
udacity/weather-journal-app/.vscode/settings.json
udacity/weather-journal-app/.vscode/launch.json
