main h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
}

form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.form-div {
  #url {
    width: 60%;
    margin-right: 10px;
  }
  .button {
    width: 30%;
  }
}
