/* Desktop Layout */
@media all and (min-width: 900px) {
  .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    color: #9f9c9c;
    text-transform: uppercase;
    /* border-bottom: 2px solid #b0e0ea; */
    padding: 20px 0;
    display: flex;
  }

  .header ul {
    display: flex;
    list-style-type: none;
    align-content: center;
  }

  .header li {
    margin-right: 15px;
    align-content: center;
  }

  .header a {
    text-decoration: none;
  }
}

/* Tablet Layout */
@media all and (min-width: 600px) {
  .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    color: #9f9c9c;
    text-transform: uppercase;
    /* border-bottom: 2px solid #b0e0ea; */
    padding: 20px 0;
    display: flex;
  }

  .header ul {
    display: flex;
    list-style-type: none;
    align-content: center;
  }

  .header li {
    margin-right: 15px;
    align-content: center;
  }

  .header a {
    text-decoration: none;
  }
}



/* Mobile Layout */
@media all and (max-width: 599px) {
  .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    color: #9f9c9c;
    text-transform: uppercase;
    /* border-bottom: 2px solid #b0e0ea; */
    padding: 20px 0;
    display: flex;
  }

  .header ul {
    display: flex;
    list-style-type: none;
    align-content: center;
  }

  .header li {
    margin-right: 15px;
    align-content: center;
  }

  .header a {
    text-decoration: none;
  }
}