@import url("header.css");
@import url("post.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  background-color: white;
}

.site-title {
  grid-column: 12;
  padding: 10px 0 20px;
  color: #1f41b8;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  border: 1px solid yellow;
  grid-column: span 12;
  grid-row: 2;
  padding: 20px 0;
}

.card {
  border: 1px solid blueviolet;
  height: auto;
  padding: 20px;
}

.card-background-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
}

.social-container {
  text-transform: uppercase;
  padding: 20px 0;
  display: flex;
}

.social-container ul {
  display: flex;
  list-style-type: none;
  align-content: center;
}

.social-container li {
  padding: 10px;
}

.social-container a {
  text-decoration: none;
}

button {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.25rem;
}