@import url("header.css");
@import url("post.css");
@import url("footer.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  background-color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-column: span 12;
  grid-row: 2;
  padding: 20px 0;
}

.card {
  border: 1px solid #dbe3ff;
  height: auto;
  padding: 20px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.social-container {
  text-transform: uppercase;
  padding: 20px 0;
  display: flex;
}

.social-container ul {
  display: flex;
  list-style-type: none;
  align-content: center;
}

.social-container li {
  padding: 10px;
}

.social-container a {
  text-decoration: none;
}

button {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.site-title {
  grid-column: 12;
  margin: 10px;
  color: #1f41b8;
  font-family: "Roboto", sans-serif;
}
